/* index */
.wrapper{
  display: flex;
}

/* _side_bar */
.sidebar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.sidebar-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header_username a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.sidebar-header_chatbtn a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.sidebar-main{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.sidebar-main_chatroom{
  padding: 20px 0 20px;
  margin: 0 0 20px;
}

.sidebar-main_chatroom a{
  color: white;
  text-decoration: none;
}

/* _main_chat */
.mainchat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

.mainchat-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.mainchat-main{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 20px 0;
}

.mainchat-footer{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}